@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#bottleinfo {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
z-index: 1;
}



#orderscreen {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
z-index: 1;
}

.formboundary {
position:absolute;
width: 90%;
left: 5%;
top:17%;
font-family:'Raleway',sans-serif
}

.form {
  background-color: #FFF;
  opacity:1;
  border-radius:10px;
  padding:10px 50px;
}

input {
width:10%;
}

.wideinput {
  width: 50%;
  padding:10px;
  margin:5px 0 25px 0;
  border:1px solid #ccc;
  border-radius: 30px;
  padding-left:40px;
  font-size:2em;
  font-family:raleway
}

#volumeinfo{
  border-radius: 30px;
  margin: 0;
  padding-left:40px; 
}

.form button{
  width: 140px;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 2px 6px #000000;
  -webkit-box-shadow: 1px 2px 2px #050205;
  -moz-box-shadow: 1px 2px 2px #050205;
  box-shadow: 1px 2px 2px #050205;
  font-family: Arial;
  color: #ffffff;
  font-size: 27px;
  padding: 40px;
  background: #009dff;
  border: solid #000000 2px;
  text-decoration: none;
}

.form .red {
  margin: 0 10% 0 0;
  background: #CC0000;
  float: right;
}

.form .red:hover {
  background: #FF0000;
}

.form .green {
  margin: 0 0 0 10%;
  background: #006600;
  float: left;
}

.form .green:hover {
  background: #00FF00;
}


/*span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}*/
