html {
  background: #1B1B1B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

#logo{
  float: right;
  margin: 30px 30px 20px 20px;
  overflow: hidden;
  width: 8%;
}

.drinklabel{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:-25px; /* position will be on bottom */
    left: 3px;
    width:97.5%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:35px;
    border: 0;
    padding: 0;
    color:white;
    opacity:0.8; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}

body {
  width: 70%;
  margin: 0 auto;
  font-size: 87.5%; /* Normi fontti koko on 14px */
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

.greetings{
  position: relative;
}

#listmargin {
  padding: 0px 0px 12px 20px;
}

.greetings_text{
  margin-top: 10px;
  padding: 20px 20px 50px 20px;
  color: white;
  background-image: url('chalk.jpg');
  border-radius: 7px 7px 7px 7px;
  box-shadow: 3px 3px 10px #333333;
}

.floatfix {
  clear: both;
}
.operatorButton{
  padding: 4%;
}

header{
  margin-bottom: 2%;
}

#prepared p, #prepared ol {
  margin: 0 0 0 0px;
}

#prepared,#prepareddrink{
  margin-left: 36px;
  margin-bottom: 4px;
}

#contentleft {
  position: relative;
  color: white;
  width: 30%;
  float: left;
  background-image: url('chalk.jpg');
  border-radius: 7px 7px 7px 7px;
  box-shadow: 3px 3px 10px #333333;
}

#contentright {
  width: 70%;
  float: left;
}

.drink {
  float:left;
  margin-bottom: 1%;
  position: relative;
  width: 33.3%;
  height: 12.0vw;
  overflow: hidden;
  border-radius: 20px;
  padding: 0;
  border: none;
  background: none;
}

.drink:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.3);
}

.leftbeam{
  position: absolute;
  left: 0;
  width: 15px;
  height: 100%;
}

.topbeam{
  position: absolute;
  top: 0px;
  height: 15px;
  width: 100%;
}

.bottombeam{
  position: absolute;
  bottom: 0px;
  height: 15px;
  width: 100%;
}

.rightbeam{
  position: absolute;
  right: 0px;
  width: 15px;
  height: 100%;
}

.drink img {
  width: 100%;
}
