.panel {
  margin-top: 10px;
  padding: 5px 5px 5px 10px;
  color: white;
  background-image: url('chalk.jpg');
  border-radius: 7px 7px 7px 7px;
  box-shadow: 3px 3px 10px #333333;
}

.panel p {
  padding-left: 5%;
  font-size: 110%;
}


.operatorButton {
  min-width: 20%;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 2px #050205;
  -moz-box-shadow: 1px 2px 2px #050205;
  box-shadow: 1px 2px 2px #050205;
  font-family: Arial;
  color: black;
  font-size: 27px;
  padding: 40px;
  background: #ccc;
  border: solid #000000 2px;
  text-decoration: none;
}

#removeorder_but{
  float: left;
  margin-right: 20px;
}

#removeorder-input{
  margin: 0;
  margin-bottom: 20px;
  width: 20%;;
}

.operatorButton:hover {
  background: #3fb2fa;
  text-decoration: none;
}

.red {
  background: #CC0000;
}

.red:hover {
  background: #FF0000;
}

.green {
  background: #006600;
}

.green:hover {
  background: #00FF00;
}

#pausepanel {
  display: none;
}
